body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../img/Background-blurred-ometepe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}

.full #header {
  margin-top: 2%;
  text-align:center;
}

.full .header_desc {
  display: inline-block;
}

.full .navbar-brand {
  color: #FFF;
}

.full p {
  text-align: justify;
}

.full .darker {
  opacity: 0.5;
  filter: alpha(opacity=35);
  background-color: #333;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1
}

.full .darker.not_much {
  background-color: #444;
  opacity: 0.35;
  z-index: -1
}

.full .desc-check {
  color: #FFCA00;
}

.full .header_title:after {
  height: 2px;
  content:'';
  display: block;
  margin: 10px auto 0;
  background-color: #CDF;
  /*background: -webkit-gradient(linear, 0 0, 100% 0, from(#232323), to(#232323), color-stop(50%, #F97E03));
  background: -moz-radial-gradient(#F97E03, #00A);
  background: -o-radial-gradient(#F97E03, #00A);*/
}

.full .footer_elem.active {
  background: #F97E03;
  content:'';
  display: block;
  color: #FFF !important;
  
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#232323), to(#232323), color-stop(50%, #F97E03));
  background: -moz-radial-gradient(#F97E03, #000);
  background: -o-radial-gradient(#F97E03, #000);
}

.full .logo_link {
  position:relative;
  padding-top: 0.8em;
  padding-bottom: 7px;
}

.full #kakao_media_logo {
  max-height: 100%;
  height: 30px;
  width: auto;
}

.full #faq {
  display: none;
}

.full #form_container {
  display: inline-block;
  position: relative;
  padding: 0 1em;
}

.full #form_container #form_initial_message,
.full #form_container #mce-error-response,
.full #form_container #mce-success-response {
  margin-top: 8%;
  margin-bottom: 7%;
}

.full #form_container #mc-embedded-subscribe {
  color: #316073;
  border-color: #316073;
  width: 50%;
}

.full form input[placeholder]:focus::-webkit-input-placeholder,
.full form textarea[placeholder]:focus::-webkit-input-placeholder{
  color: transparent !important;
}

.full form input[placeholder]::-webkit-input-placeholder,
.full form textarea[placeholder]::-webkit-input-placeholder {
  opacity: 1;
  color: #316073 !important;
}

.full form input[placeholder]:focus::-moz-placeholder,
.full form textarea[placeholder]:focus::-moz-placeholder{
  color: transparent !important;
}

.full form input[placeholder]::-moz-placeholder,
.full form textarea[placeholder]::-moz-placeholder {
  opacity: 1;
  color: #316073 !important;
}

/* En el caso de :-moz- es para versiones anteriores (pre-19)*/
.full form input[placeholder]:focus:-moz-placeholder,
.full form textarea[placeholder]:focus:-moz-placeholder{
  color: transparent !important;
}

.full form input[placeholder]:-moz-placeholder,
.full form textarea[placeholder]:-moz-placeholder {
  opacity: 1;
  color: #316073 !important;
}

.full form input[placeholder]:focus:-ms-input-placeholder,
.full form textarea[placeholder]:focus:-ms-input-placeholder{
  color: transparent !important;
}

.full form input[placeholder]:-ms-input-placeholder,
.full form textarea[placeholder]:-ms-input-placeholder {
  opacity: 1;
  color: #316073 !important;
}

/*----Form----*/
#mc_embed_signup {
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
}
.asterisk {
  right: 0;
  position: absolute;
  margin-right: 8%;
  font-size: 1.6em;
  color: #F97E03;
}
.indicates-required {
  text-align: right;
  color: #F97E03;
}
.indicates-required-asterisk{
  font-size: 1.2em;
}
.mc-field-group.input-group ul {
  text-align: left;
  list-style: none;
}
.mc-field-group.input-group ul > li input {
  margin: 4px 9% 0 -30%;
}